.col-md-12{
  padding: 20px;
}

form{
  margin: 30px;
}
.margin-left{
  margin-left: 5px !important;
}
.botton-add{
  background-color: rgba(101, 113, 255, 0.85);
}
.botton-add:hover{
  background-color: rgba(60, 70, 173, 0.85);
}