<footer>
  <div class="container">


      <div class="row">
          <div class="col-sm-6 col-lg-3">
              <div class="footer-item">
                  <div class="footer-logo">
                      <ul>
                          <li><a href="#" target="_blank"><i class="icofont-youtube-play"></i></a></li>
                          <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                          <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                          <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-lg-3">
              <div class="footer-item">
                  <div class="footer-find">
                      <h3>Find Us</h3>

                      <ul>
                          <li><i class="icofont-location-pin"></i> esprit , Ariena</li>
                          <li><i class="icofont-ui-call"></i> <a href="tel:+880123456789">+216  71 94 15 4 </a></li>
                          <li><i class="icofont-ui-email"></i> <a href="mailto:hello@peof.com">hello@CyberFin.com</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="copyright-area">
          <div class="row">
              <div class="col-lg-6">
                  <div class="copyright-item">
                      <p>Copyright @2021 CyberFin <a href="https://hibootstrap.com/" target="_blank"></a></p>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="copyright-item copyright-right">
                      <ul>
                          <li><a routerLink="/terms-and-conditions" target="_blank">Terms & Conditions</a></li>
                          <li><span>-</span></li>
                          <li><a routerLink="/privacy-policy" target="_blank">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
