
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.gold {
	color: #ffdc0f;
}
.withtest1{
    width: 40px;
    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.withtest2{
    width: 0%;
    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.withtest3{
    width: 70px;
    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.withtest4{
    width: 90%;
    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.withtest0{
    width: 0%;
    height: 6px;
    background:gray;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.withtest5{
    width: 150px;
    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.skill-bartesrt {

    height: 6px;
    background:green;
    display: block;
    position: relative;

    span{
        position: absolute;
        top: -43px;
        font-size: 16px;
        font-weight: 500;
        color: #9a9a9a;
    }
}
.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

	.stars {
		display: inline-flex;
		justify-content: left;
		font-size: 2em;
	}


	.stars:hover .fa-star {
		color: #ffdc0f;
	}

	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}
