<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <br> <br> <br> <br> <br> <br>
                <div class="row contact-wrap"><h1>Simulator</h1> </div>
                    <br />
                    <form [formGroup]="form" id="pass" (submit)="calcul(form)">
                        <h5>Amount :</h5>
                        <input
                            matInput
                            type="number"
                            placeholder="Place your amount"
                            class="in"
                            formControlName="Montant"
                        />

                        <br />
                        <br />

                        <fieldset  (change)="modeChange($event.target.value)">
                            <legend> <h5>Invested Funds In CyberFin :</h5></legend>
                            <div >
                                <input type="radio" id="1" name="1" value="1"
                                       checked >
                                <label for="huey">In Bank</label>
                            </div>
                            <div>
                                <input type="radio" id="2" name="1" value="2">
                                <label for="dewey">In CyberFin</label>
                            </div>
                        </fieldset>
                        <br />

                        <button
                            mat-raised-button
                            color="primary"
                            type="submit"
                            class="btnCalcul"
                        >
                            Calculate
                        </button>
                    </form>

                <div class="row contact-wrap"> <h2>Result :</h2> </div>
                    <h1>{{ valeur }}</h1>
<br> <br> <br> <br>
            </div>
        </div>
    </div>
</div>

<div class="account-area">
    <div class="container">
        <div class="row account-wrap">
            <div class="col-sm-6 col-lg-4">
                <div class="account-item account-last">
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="account-item account-last">
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="account-item account-last">

                </div>
            </div>
        </div>
    </div>
    <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br>
</div>

