<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Feedback Details</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Feedback Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-item">
                    <div class="blog-details-img">

                        <ul>
                            <li><i class="icofont-calendar"></i>{{blog.dateFeedback  | date:'yyyy-MM-dd'}}</li>
                            <li><i class="icofont-user-alt-7"></i><a routerLink="/blog">{{blog.nameFeedback}}</a></li>
                            <li><i class="icofont-user-alt-7"></i><a routerLink="/blog">{{blog.emailFeedback}}</a></li>

                        </ul>

                        <p> {{blog.descriptionFeedback}}</p>
                    </div>

                    <div class="blog-details-social">
                        <span>Share:</span>

                        <ul>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
