<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Add Inverster</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Add Inverster</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post-job-area pt-100">
    <div class="container">
        <div class="post-job-item">
            <form [formGroup]="form" id="invest" (submit)="addinvester(form)" >
                <div class="post-job-heading">
                    <h2>Add Inverster</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Email :</label>
                            <input type="text" class="form-control" placeholder="Enter invester email" formControlName="email">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Amount :</label>
                            <input type="text" class="form-control" placeholder="Enter investing amount" formControlName="amount">
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Starting date :</label>
                            <input type="date" id="date" name="date" class="form-control" formControlName="date">
                        </div>
                    </div>



                </div>

                <div class="text-left">
                    <button type="submit" class="btn create-ac-btn">Add invester</button>
                </div>
            </form>
        </div>
    </div>
</div>
