<div class="row">
  <div class="row">


    <! SEARCH -->

    <div class="input-group">
      <div class="input-group-text">
        <i class="feather icon-search"></i>
      </div>
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Claims List</h6>
          <div ngbDropdown class="mb-2">
          </div>
        </div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
            <thead>
            <th>account_id</th>
            <th>transaction_type</th>
            <th>amount</th>
            <th>source</th>
            <th>status</th>
            <th>reason code</th>
            <th>created at</th>
         <!--   <th class="pt-0">Transaction id</th>  -->
            </thead>
            <tbody>
            <tr *ngFor='let t of listClaims| filter:term'>
              <td>{{t?.account_id}} </td>
              <td>{{t?.transaction_type}} </td>
              <td>{{t?.amount}} </td>
              <td>{{t?.source}} </td>
              <td><span class="badge bg-danger">{{t?.status}}</span> </td>
              <td>{{t?.reason_code}} </td>
              <td>{{t?.created_at}} </td>
   <!--           <td>{{t?.transaction?.transaction_id}}</td>  -->
              <td><button type="button" class="btn btn-outline-primary"
                          (click)="open(mymodal)">edit</button>
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                    <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" (click)="cancel()">×</span>

                    </button>

                  </div>
                  <div>
                    <form >
                      <div class="modal-body">

                        <div class="row" class="col-md-5">
                          <label>Account Id</label>
                          <input type="number" [(ngModel)]="t.account_id" [ngModelOptions]="{standalone : true}" />
                        </div>

                        <div class="row" class="col-md-5">
                          <label>Transaction Type</label>
                          <select
                            [(ngModel)]="t.transaction_type" [ngModelOptions]="{standalone : true}">
                          <option type="text" *ngFor="let t of transaction_type" [value]="t.transaction_type" > {{t.transaction_type}}
                          </select>
                        </div>

                        <div class="row" class="col-md-5">
                          <label>Amount</label>
                          <input type="number" [(ngModel)]="t.amount" [ngModelOptions]="{standalone : true}" />
                        </div>

                        <div class="row" class="col-md-5">
                          <label>source</label>
                          <input type="text" [(ngModel)]="t.source" [ngModelOptions]="{standalone : true}" />
                        </div>

                        <div class="row" class="col-md-5">
                          <label>Status</label>
                          <input type="text" [(ngModel)]="t.status" [ngModelOptions]="{standalone : true}" />
                        </div>

                        <div class="row" class="col-md-5">
                          <label>Reason Code</label>
                          <input type="text" [(ngModel)]="t.reason_code" [ngModelOptions]="{standalone : true}" />
                        </div>
                        <div class="row" class="col-md-5">
                          <label>Created At</label>
                          <input type="text" [(ngModel)]="t.created_at" [ngModelOptions]="{standalone : true}" />
                        </div>

                        <!--
                        <div class="row" class="col-md-5">
                          <label  class="col-form-label col-sm-2">Transaction</label><select [(ngModel)]="claim.transaction.transaction_id" [ngModelOptions]="{standalone : true}" class="form-control" name="transaction" >
                          <option [disabled]="true" *ngFor="let transaction of transaction" [ngValue]="transaction.transaction_id"> {{transaction.transaction_id}} <!-- </option> -->
                        <!--  </select>
                        </div>
                      -->




                      </div>

                      <div class="modal-footer">

                        <button type="button" class="btn btn-info" (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success"(click)="editClaim(t)" (click)="modal.close('Save click')">Validate</button>
                      </div>
                    </form>
                  </div>
                </ng-template>
                <button type="button" class="btn btn-outline-danger"
                        (click)="deleteClaim(t.claim_id)">delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




