
<div class="row">
    <div class="row">


      <! SEARCH -->

      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
      </div>

      <div class="col-md-12">
        <br>
        <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Add new Offer</button>
        <br><br>

        <ng-template #mymodal1 let-modal1>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" >Add new Offer</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
              <span aria-hidden="true" (click)="cancel()">×</span>
            </button>

          </div>
          <div class="container">
            <form #f="ngForm" (ngSubmit)="addOffer(offer)">
              <div class="row" class="col-md-6">
                <input name ="account_id" type="number" required  ngModel #a="ngModel" placeholder="Id" [(ngModel)]="offer.idOffer" >
              </div>
              <div class="alert alert-danger" *ngIf="a.invalid && a.touched">the id is a required field </div>

              <div class="row" class="col-md-5">
                <select
                  [(ngModel)]="offer.typeOffer" [ngModelOptions]="{standalone : true}">
                  <option type="text" *ngFor="let offer of typeOffer" [value]="offer.typeOffer" > {{offer.typeOffer}}
                </select>
              </div>




              <div class="row" class="col-md-6">
                <input name ="datedebut" type="date" required  ngModel #st="ngModel" placeholder="datedebut"[(ngModel)]="offer.datedebut">
              </div>
              <div class="alert alert-danger" *ngIf="st.invalid && st.touched">date debut is a required field </div>

              <div class="row" class="col-md-6">
                <input name ="datefin" type="date" required  ngModel #rc="ngModel" placeholder="datefin"[(ngModel)]="offer.datefin">
              </div>
              <div class="alert alert-danger" *ngIf="rc.invalid && rc.touched">date fin is a required field </div>


              <button type="submit" class="btn btn-success" [disabled]="f.invalid" (click)="modal1.close('Save click')" >Add</button>
              <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
            </form>
          </div>
        </ng-template>
        <div >

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">Offer List</h6>
                <div ngbDropdown class="mb-2">
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>



                  <th class="pt-0" >idOffer</th>
                  <th class="pt-0">typeOffer</th>
                  <th class="pt-0">description</th>
                  <th class="pt-0">date debut</th>
                  <th class="pt-0">date fin</th>
                  <th class="pt-0">ratingAvg</th>
                  <th class="pt-0">count user</th>

                  </thead>
                  <tbody>
                  <tr *ngFor='let o of listOffers| filter:term'>

                    <td>{{o.idOffer}} </td>

                    <div class="alert alert-danger" *ngIf="o.typeOffer== Marhaba">
                      <td> <span class="badge bg-info"> {{o.typeOffer}} </span> </td></div>

                    <div class="alert alert-danger" *ngIf="o.typeOffer==Mostakbal">
                      <td> <span class="badge bg-primary"> {{o.typeOffer}} </span> </td></div>

                    <div class="alert alert-danger" *ngIf="o.typeOffer==Ayed">
                      <td> <span class="badge bg-danger"> {{o.typeOffer}} </span> </td></div>

                    <div class="alert alert-danger" *ngIf="o.typeOffer==Affrah">
                      <td> <span class="badge bg-black"> {{o.typeOffer}} </span> </td></div>
                      <div class="alert alert-danger" *ngIf="o.typeOffer==Manzeli">
                        <td> <span class="badge bg-black"> {{o.typeOffer}} </span> </td></div>
                        <div class="alert alert-danger" *ngIf="o.typeOffer==Fleha">
                            <td> <span class="badge bg-black"> {{o.typeOffer}} </span> </td></div>






                            <td>{{o.description}} </td>

                    <td>{{o.datedebut}} </td>


                    <td>{{o.datefin}} </td>
                    <td>{{o.ratingAvg}} </td>
                    <td>{{o.countUser}} </td>
                    <td><button type="button" class="btn btn-outline-primary"
                                (click)="open(mymodal)">edit</button>
                      <ng-template #mymodal let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title" >Edit</h4>
                          <button type="button" class="close" aria-label="Close"
                                  (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true" (click)="cancel()">×</span>

                          </button>

                        </div>
                        <div>
                          <form >
                            <div class="modal-body">


                              <div class="row" class="col-md-5">
                                <label>Offer Id</label>
                                <input type="number" ngModel [(ngModel)]="o.idOffer" [ngModelOptions]="{standalone : true}" />
                              </div>


                              <div class="row" class="col-md-5">
                                <label>Offer Type</label>
                                <select
                                  [(ngModel)]="o.typeOffer" [ngModelOptions]="{standalone : true}">
                                  <option type="text" *ngFor="let o of o.typeOffer" [value]="o.typeOffer" > {{o.typeOffer}}
                                </select>
                              </div>

                              <div class="row" class="col-md-5">
                                <label>Description</label>
                                <input type="text" [(ngModel)]="o.description" [ngModelOptions]="{standalone : true}" />
                              </div>

                              <div class="row" class="col-md-5">
                                <label>Date debut</label>
                                <input type="date" [(ngModel)]="o.datedebut" [ngModelOptions]="{standalone : true}" />
                              </div>

                              <div class="row" class="col-md-5">
                                <label>Date fin</label>
                                <input type="date" [(ngModel)]="o.datefin"  [ngModelOptions]="{standalone : true}" />
                              </div>

                              <div class="row" class="col-md-5">
                                <label>Rating avg</label>
                                <input type="number" [(ngModel)]="o.ratingAvg" [ngModelOptions]="{standalone : true}" />
                              </div>






                              <div class="row" class="col-md-5">
                                <label>Count user</label>
                                <input type="number" [(ngModel)]="o.countUser" [ngModelOptions]="{standalone : true}" />
                              </div>



                            </div>

                            <div class="modal-footer">

                              <button type="button" class="btn btn-info" (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                              <button class="btn btn-success"(click)="editOffer(o)" (click)="modal.close('Save click')">Validate</button>
                            </div>
                          </form>
                        </div>

                      </ng-template>
                      <button type="button" class="btn btn-outline-danger"
                              (click)="deleteOffer(o.idOffer)">delete</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







