<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Withdraw Money</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Withdraw Money</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form-area ptb-100">
    <div class="container-fluid">
        <form id="contactForm">
            <div class="row contact-wrap">

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="number" name="account_id" id="account_id" class="form-control"  required placeholder="Your Account Id" [(ngModel)]="account_id">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="number" name="amount" id="amount" required class="form-control" placeholder="Amount To Withdraw" [(ngModel)]="amount">
                    </div>
                </div>



                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="btn contact-btn" (click)="withrawal()" > Withdraw</button>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>
