<div class="navbar-area fixed-top">

    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/logo.png" alt="Logo"></a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/cyberfinlogo.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Home <i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 1</a></li>

                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 2</a></li>

                                <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 3</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Offers <i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/job-list" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Offers List</a></li>

                                <li class="nav-item"><a routerLink="/favourite-job" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Favourite Offers</a></li>


                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Make Transactions <i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/transfer" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Transfer Money</a></li>

                                <li class="nav-item"><a routerLink="/withdrawal" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Withdraw Money</a></li>

                                <li class="nav-item"><a routerLink="/deposit" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Deposit Money</a></li>

                                <li class="nav-item"><a routerLink="/payment" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pay Bills</a></li>




                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Become an Investor<i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/post-a-job" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Invest</a></li>
                                <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Investment Simulator</a></li>
                                <li class="nav-item"><a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Our Investors</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Loan<i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/post-a-job" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Loan</a></li>

                            </ul>
                        </li>



                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Association <i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/association" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">check Associations</a></li>

                                <li class="nav-item"><a routerLink="/payment_association" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">check Payments</a></li>






                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Feedbacks <i class="icofont-simple-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Feedback</a></li>

                             </ul>
                        </li>

                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                    </ul>

                    <div class="common-btn" *ngIf="!isLoggedIn">
                        <a class="login-btn" routerLink="/login"><i class="icofont-plus-square"></i> Login</a>
                        <a class="sign-up-btn" routerLink="/register"><i class="icofont-user-alt-4"></i> Sign Up</a>
                    </div>
                    <div class="common-btn" *ngIf="isLoggedIn">
                        <a class="login-btn" routerLink="/single-profile"><i class="icofont-plus-square"></i> Profile</a>
                        <a class="sign-up-btn"  (click)="logout()"><i class="icofont-user-alt-4"></i> Logout</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>

</div>
