<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Investers List</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Investers List</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row" *ngFor="let d of data ; let i = index">

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/profile.png" alt="Job">
                    <div class="job-inner align-items-center" >
                        <div class="job-inner-left">
                            <h3>{{d.email}}</h3>
                            <ul>
                                <li><i class="icofont-money-bag"></i>10</li>
                                <li><i class="icofont-location-pin"></i>2022-05-12</li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li><button (click)="deleteInv(data[i].userId)">Delete</button></li>
                                <li><span>Edit</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
