.result{
  font-weight: bold;
  color:#38a745 ;
}
.requestloantitle {
  background-image: url('/assets/img/loanImages/wallpaperflare.com_wallpaper (1).jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.greentitle{
  color:#38a745 ;
}
.greenradio{
  border-color: #38a745;
}
